<app-navbar></app-navbar>



<div class="mt-5 container">
    <div class="row">
        <div class="col-md-4">

            <div *ngIf="!marcadorSel" >
                <div class="alert alert-info" role="alert" >
                    <strong>Seleccione un Marcador</strong>
                </div>
            </div>
                
            <div *ngIf="marcadorSel">

                <h5 class="mb-5">Marcador</h5>     
                <hr>
                <div class="form-group">
                    <label for="">Titulo</label>
                    <input  [(ngModel)]="marcadorSel.titulo"
                    name="titulo"
                    class="form-control"
                    type="text">
                </div>
                <div class="form-group">
                    <label for="">Titulo</label>
                    <textarea  [(ngModel)]="marcadorSel.desc"
                    name="desc"
                    type="text"
                    class="form-control"
                    rows="5">
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="">Draggable</label>
                    <select [(ngModel)] = "draggable"
                            class="form-control" 
                            name="draggable"
                            (change) = "cambiarDraggable()"
                            >
                            <option value="1">Si</option>
                            <option value="0">No</option>
                    </select>
                </div>
            
                <button (click)="_ms.guardarMarcadores()"
                type="button" 
                class="btn btn-primary btn-block">Guarda Cambios</button>
                
            </div>
        </div>

 
        <div class="col-md-8">

            <agm-map [latitude]="lat" 
                     [longitude]="lng"
                     [zoom]="zoom"
                     (mapClick)="clickMapa($event)">
                
                <agm-marker *ngFor="let marcador of _ms.marcadores; let i = index"
                            [latitude]="marcador.lat"
                            [longitude]="marcador.log"
                            [markerDraggable]="marcador.draggable"
                            (markerClick)="clickMarcador( marcador,i )"
                            (dragEnd)="dragEndMarcador( marcador, $event )">
                    <agm-info-window>
                        <strong> {{ marcador.titulo }} </strong>
                        <p *ngIf="marcador.desc">
                            {{ marcador.desc }}
                        </p>
                        <p>
                            <a  (click)="_ms.borrarMarcador(i); marcadorSel=null"
                                class="text-danger">Borrar Marcador</a>
                        </p>
                    </agm-info-window>
                </agm-marker>
            </agm-map>

        </div>

    </div>
   
</div>